.tree-invisible {
  display: none;
}

.item-padding{
  padding-left: 1vh;
}
.span-left-padding{
  padding-left: 1vh;
}
/*
 * This padding sets alignment of the nested nodes.
 */
.tree .mat-nested-tree-node div[role=group] {
  padding-left: 10px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.tree div[role=group] > .mat-tree-node {
  padding-left: 10px;
}
